@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500;800&display=swap');

li{
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    font-size: 3vh;
    font-weight: 500;
    padding: 5px;

}


.skillContainer{
    display: grid;
    grid-template-columns: 80% 20%;
    background-color: rgba(86, 25, 110, 0.37);
    width: 40vw;
    height: 40vh;
    justify-self: center;
    border-radius: 25px;
    margin: 10px;
    margin-left: 0;
    margin-right: 0;
    box-shadow: 0px 6px 6px -6px rgba(0,0,0.3);
}
.skillTitle{
    font-family: 'Poppins', sans-serif;
    padding:10px;
    text-align: justify;
    font-size: 4vh;
    font-weight: 500;
    

}

.topContainer{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content:space-between;
}

.leftContainer{
    padding: 10px;
}

.imageSkill{
    
    margin-right:50px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 5px;

    background-color: ivory;
}

@media (max-width: 648px) {
    .imageSkill{
        display: none;
    }
    
}